#map-canvas { 
    height: 600px; 
    margin: 0; 
    padding: 0;
}

.labels {
    color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 14px;
    font-weight:bold;
    text-align: center;   
    white-space: nowrap;
}

#sidePanel {
    background-color: black;
    color: #ffd400;
    height: 600px;
}

.yellowColor {
    color: #ffd400;
}