#map-canvas { 
    height: 600px; 
    margin: 0; 
    padding: 0;
}

.labels {
    color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 14px;
    font-weight:bold;
    text-align: center;   
    white-space: nowrap;
}

#sidePanel {
    background-color: black;
    color: #ffd400;
    height: 600px;
}

.yellowColor {
    color: #ffd400;
}
.infowindow {
    color: #444;
}
/* http://stackoverflow.com/questions/7616666/google-maps-api-v3-custom-styles-for-infowindow */
#appbar {
        min-height: 200px;
    background-color: #444;
}
.yellowbutton {
    font-family: "Open Sans", sans-serif;
    background: #ffd400;
    color: #fff;
    font-weight: 500;
    padding: 0.75em 1em;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    letter-spacing: 0.1em;
    border: 2px solid#ffd400;
    outline: none;
    cursor: pointer;
    font-size: 1.2em;
    text-transform: uppercase;
    width: 35%;
}
